@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.backgroundImg
{
   position: fixed;
    height: 150%;
    width: 100%;
    z-index: -1;
}



h2{
    margin-top: 5px;
    border: 5px white;
    text-align: center;
    color: white;
    background-color: #BA4A00;
}


.container
{
    margin-top: 2rem;
    margin-left: 5rem;
    width: 90%;
}



.firstRow , .secondRow
{
   
    margin-left: 15px;
    display: flex;
    
}

.fooditem
{
    border-radius: 8px;
    margin-top: 25px;
    margin-bottom: 0;
    margin-right: 15px;
    border-style: solid;
    border-color: white;
    width: 25%;
    font-size: 25px;
    height: 310px;

    color: white;
}
.container img{
    margin-top: 5px;
    border-radius: 8px;
    width: 280px;
    height: 180px;
}



input[type = button]
{
    padding: 8px 5px;
    border-radius: 8px;
    border: none;
    font-weight: bolder;
    background-color: #BA4A00;
    color: white;
    width: 50%;
    height: 35px;
}

/*.container img:hover
{
    transition: .5s;
    width: 280px;
    height: 180px;
}*/

input[type = button]:hover
{
    transition: .5s;
    background-color: white;
    color: #BA4A00;
    width: 55%;
    height: 38px;
}