@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: red;
    display: flex;
    justify-content: space-between;
    min-height: 6rem;
    margin: 0;
    padding: 1rem;
    width: 100%;
}

header .middle,.left,.right
{
    background-color: yellow;
    width: 32%;
    min-height: 1rem;
    padding: 10px;
}

